@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono', monospace;
  background: url(../images/bg-light.png);
  background-repeat: repeat;
  animation: animate-background linear 10s infinite;
}

@keyframes animate-background {
  from { background-position: 0px 0px;}
  to { background-position: 300px 300px;}
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}


body.dark-theme {
  background: url(../images/bg-dark-2.png);
  color: white;
}

@media (prefers-color-scheme: dark) {
  html:is(.dark) {
    body{
      background: url(../images/bg-dark-2.png);
    color: #fff;
    } 
  }
}

@media (prefers-color-scheme: light) {
  html:not(.dark) {
    body{
      background: url(../images/bg-light.png);
      color: #222;
    }
  }
}