@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Mono', monospace;
  background: url(../images/bg-light.png);
  background-repeat: repeat;
  animation: animate-background linear 10s infinite;
}


@keyframes animate-background {
  from { background-position: 0px 0px;}
  to { background-position: 300px 300px;}
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}


body.dark-theme {
  background: url(../images/bg-dark.png);
  color: white;
}

/* Window styles */
.window {
  width: 400px;
  background-color: #fff;
  border: 1px solid #999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.title-bar {
  background-color: #222;
  padding: 8px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
}

.button {
  width: 20px;
  height: 20px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.button.minimize::before {
  content: '\2013'; /* Unicode for the minus sign */
  color: #222;
}

.button.close::before {
  content: '\00D7'; /* Unicode for the multiplication sign (close symbol) */
  color: #222;
}

.content {
  padding: 16px;
  color: #222;
}

@media (prefers-color-scheme: dark) {
body:not(.light-theme) {
  background: url(../images/bg-dark.png);
  color: #fff;
}
}

@media (prefers-color-scheme: light) {
body:not(.dark-theme) {
  background: url(../images/bg-light.png);
  color: #222;
}
}